<a href="https://colab.research.google.com/github/marianelamana/Curso-GitHub/blob/add-license-1/Wine_AI_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
arquivo = pd.read_csv("/content/wine_dataset.csv")
arquivo.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [3]:
arquivo["style"] = arquivo["style"].replace("red", 0)
arquivo["style"] = arquivo["style"].replace("white", 1)

In [4]:
# Separando as variáveis entre preditoras e variável alvo
y = arquivo["style"]
x = arquivo.drop("style", axis = 1)

In [5]:
from sklearn.model_selection import train_test_split

#Criando os conjuntos de dados de treino e teste
# 30% das amostras será para testes e 70% para treino
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [6]:
from sklearn.ensemble import ExtraTreesClassifier
# Criação de modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

# Imprimindo os resultados
resultado = modelo.score(x_teste, y_teste)
print("Acurácia: ", resultado)

Acurácia:  0.9948717948717949

In [10]:
# Testando com IDs aleatórios
y_teste[456:465]

5653    1
6175    1
243     0
761     0
3268    1
3767    1
3424    1
5272    1
3001    1
Name: style, dtype: int64

In [11]:
x_teste[456:465]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
5653            7.2             0.170         0.28  ...       0.43      9.0        7
6175            5.9             0.300         0.29  ...       0.38     11.3        5
243            15.0             0.210         0.44  ...       0.84      9.2        7
761             9.3             0.655         0.26  ...       0.42      9.6        5
3268            7.1             0.310         0.38  ...       0.44      9.9        6
3767            7.4             0.190         0.30  ...       0.49      9.1        7
3424            7.1             0.320         0.40  ...       0.60     10.4        5
5272            5.4             0.300         0.30  ...       0.40     13.6        7
3001            7.4             0.400         0.29  ...       0.50     11.1        8

[9 rows x 12 columns]

In [12]:
previsoes = modelo.predict(x_teste[456:465])

In [13]:
previsoes

array([1, 1, 0, 0, 1, 1, 1, 1, 1])